@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --main-bg-color: #ffffff;
    --prime-text-color: #424242;
    --accent-color: #ff3f3c;

}
body {
    font-family: "Inter", sans-serif;
    color: var(--prime-text-color);
    background: var(--main-bg-color);
    padding: 0;
    margin:0;  
}

header {
    padding: 20px;
    font-weight: 100px;
}

header h1 {
    margin: 0;
    font-weight: normal;
}

main {
    background: url('/images/polaroid.png') no-repeat center 100px;
    margin: 0 auto;
    width: 800px;
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2{
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

h3 {
    font-size: 2em;
    text-align: center;
}

p {
    margin-bottom: 36px;
}

.details ul{
    padding-inline-start: 0px;
   
}

.details ul li {
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 40px;
}

.details ul li.one {
    background: url('/images/wifi-solid 1.svg') no-repeat center left; 
}

.details ul li.two {
    background: url('/images/cloud-arrow-up-solid 1.svg') no-repeat center left; 
}

.details ul li.three {
    background: url('/images/qrcode-solid 1.svg') no-repeat center left; 
}

.details ul li.four {
    background: url('/images/photo-film-solid 1.svg') no-repeat center left; 
}

section {
    padding-bottom: 32px;
}

form input[type="text"] {
    width: 450px;
    height: 66px;   
    font-size: 1em;
    font-weight: 400;
    text-indent: 20px;
    margin-right: 5px;
    box-sizing: border-box;
    border: none;

}

form input:placeholder-shown {
    text-align: center;
}

form input[type="button"] {
    width: 250px;
    height: 66px;
    background: var(--accent-color);
    color: var(--main-bg-color);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 900;
    text-indent: 20px;
    margin-right: 0px;
    margin-top: auto;
    cursor: pointer;
    border: none;
}

.bg {
    display: grid;
    background: #f1f1f1;
    width: 800px;
    height: 130px;
    border-radius: 30px;
    align-items: center;
    place-items: center;

}